body{
    background-color: purple;
}
.container{
    display: flex;
    background-color: green;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 30px;
    margin: 20px;
    justify-content: flex-end;
}
.logo{
    margin: 0px;
    float: left;
    font-size: 28px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:red;
}
.hero content button{
    padding: 15pc 30px;
    background-color: red;
    color: red;
    border: none;
    font-size: 30px; 
}
.hero-foto{
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align:center;
    background-color: rgb(36, 165, 122);
}
.hero-content1 {
    padding: 15pc 30px;
    background-color: rgb(36, 165, 122);
    color: rgb(40, 46, 44);
    border: none;
    font-size: 30px; 
    text-align: start;
}

